# Python Virtual Environment
venv/

# Python bytecode files
__pycache__/

# IDE-specific files
.idea/
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# log files
*.log

# email log file
email_log.txt
